@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue";
  src: url("/neu.ttf");
}

@font-face {
  font-family: "Founder";
  src: url("/FoundersGroteskXCondBold.otf");
}
